In [31]:
import sqlite3
values = (
    ('Benjamin Sisko','Human',40),
    ('Jadzia Dax','Trill',300),
    ('Kira Nerys','Bajoran',29),    
)
#1,2. **Database Creation and Inserting Data**:
with sqlite3.connect('roster.db') as connection:
    cursor = connection.cursor()
    cursor.execute("DROP TABLE IF EXISTS Roster")
    cursor.execute("""
        CREATE TABLE Roster(
        Name TEXT,
        Species TEXT,
        Age INTEGER);"""
        )
    cursor.executemany("INSERT INTO Roster VALUES(?,?,?);",values)

In [32]:
#3. **Update Data**:
query = "UPDATE Roster SET Name = 'Ezri Dax' where Name is 'Jadzia Dax' "
cursor.execute(query)
connection.commit()

In [33]:
#4. **Query Data**:
data = cursor.execute("SELECT Name, Age from Roster where Species is 'Bajoran'")
data.fetchall()

[('Kira Nerys', 29)]

In [34]:
#5. **Delete Data**:
cursor.execute("DELETE FROM Roster WHERE age > 100")
connection.commit()

In [35]:
cursor.execute("INSERT INTO Roster VALUES('Ezri Dax','Trill',300)") #Inserting again into the table

In [36]:
#6. **Bonus Task**:
cursor.execute("ALTER TABLE Roster ADD column Rank TEXT")
cursor.execute("UPDATE Roster SET Rank = 'Captain' where name is 'Benjamin Sisko'")
cursor.execute("UPDATE Roster SET Rank = 'Lieutenant' where name is 'Ezri Dax'")
cursor.execute("UPDATE Roster SET Rank = 'Major' where name is 'Kira Nerys'")
connection.commit()

In [37]:
#7. **Advanced Query**:
data2= cursor.execute("SELECT * from Roster order by age desc")
data2.fetchall()

[('Ezri Dax', 'Trill', 300, 'Lieutenant'),
 ('Benjamin Sisko', 'Human', 40, 'Captain'),
 ('Kira Nerys', 'Bajoran', 29, 'Major')]