In [1]:
import sqlite3

#1. **Database Creation**:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("DROP TABLE IF EXISTS Books")
    cursor.execute("""
    CREATE TABLE Books(
        Title TEXT,
        Author TEXT,
        Year_Published INTEGER,
        Genre TEXT);
""")

In [2]:
#2. **Insert Data**:
values = (
    ('To Kill a Mockingbird','Harper Lee',1960,'Fiction'),
    ('1984','George Orwell',1949,'Dystopian'),
    ('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic'),
)
cursor.executemany("INSERT INTO Books Values(?,?,?,?);",values)
connection.commit()

In [7]:
#3. **Update Data**:
cursor.execute("UPDATE Books SET Year_Published = 1950 where Title ='1984'")
connection.commit()

In [8]:
#4. **Query Data**:
data = cursor.execute("SELECT Title, Author FROM Books where Genre = 'Dystopian'")
data.fetchall()

[('1984', 'George Orwell')]

In [9]:
#5. **Delete Data**:
cursor.execute("DELETE FROM Books where Year_Published < 1950")
connection.commit()

In [10]:
#Inserting back removed data:
cursor.execute("INSERT INTO Books Values('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic');")
connection.commit()

In [11]:
#6. **Bonus Task**:
cursor.execute("ALTER TABLE Books ADD column Rating INTEGER")
cursor.execute("UPDATE Books SET Rating = 4.8 WHERE Title = 'To Kill a Mockingbird'")
cursor.execute("UPDATE Books SET Rating = 4.7 WHERE Title = '1984'")
cursor.execute("UPDATE Books SET Rating = 4.5 WHERE Title = 'The Great Gatsby'")
connection.commit()

In [12]:
#7. **Advanced Query**:
data1 = cursor.execute("SELECT * FROM Books order by Year_Published asc")
data1.fetchall()

[('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic', 4.5),
 ('1984', 'George Orwell', 1950, 'Dystopian', 4.7),
 ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)]